@function addStar($star: "") {
  @for $i from 1 through 300 {
    $star: $star + random(1000)*0.1vw + " "+ random(1000)*0.1vh + " "+ 0 + " "+ random(50)*-0.01rem + #cc7;

    @if $i < 300 {
      $star: $star + ",";
    }
  }

  @return $star;
}

.layer1 {
  width             : .35rem;
  height            : .35rem;
  box-shadow        : #{addStar()};
  animation-duration: 80s;
}

.layer1.a {
  animation-delay: -50s;
}

.layer2 {
  width             : .33rem;
  height            : .33rem;
  box-shadow        : #{addStar()};
  animation-duration: 120s;
}

.layer2.a {
  animation-delay: -60s;
}

.layer3 {
  width             : 0.3rem;
  height            : 0.3rem;
  box-shadow        : #{addStar()};
  animation-duration: 140s;
}

.layer3.a {
  animation-delay: -70s;
}

@keyframes fall {
  100% {
    transform: translateY(200vh);
  }
}