* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
  outline   : none;

  &:focus,
  &:active,
  &:enabled {
    outline: none;
  }
}

html {
  height                 : 100vh;
  width                  : 100vw;
  overflow               : hidden;
  font-size              : 10px;
  font-family            : sans-serif;
  background-color       : #000;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;


  @media(min-width: 1400px) {
    font-size: 12px;
  }

  @media(min-width: 1600px) {
    font-size: 14px;
  }

  @media(min-width: 2100px) {
    font-size: 18px;
  }

  @media(min-width: 3000px) {
    font-size: 28px;
  }

  @media(min-width: 3500px) {
    font-size: 33px;

  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

video {
  position: fixed;
  bottom  : 0;
  left    : 0;
  right   : 0;
  display : none;
  height  : 40rem;
  margin  : auto;

  &.play {
    display: unset;
  }
}